<div class="content">
<h1> Login page</h1>
<form action = "/login" method ="post">

  
    <p>Username</p>
    <p>
    <input type ="text" name = "username" id = "username" />
  </p>
  
    <p>Password</p>
    <p>
    <input type = "password" name = "password" id = "password" />
  </p>
  <p>

    <input type ="submit" >
</p>
</form>
​</div>